{
    auto_https disable_redirects
}

https://{$PANEL_DOMAIN}:{$PANEL_PORT} {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
    encode zstd gzip
    reverse_proxy panel:8080
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
    }
}
